<html>

<head>
    <title>Index</title>
</head>

<body>
    <h1>Index</h1>
    <p>
        This file was templates by Ansible with the next paragraph.
    </p>
    <p>
        {{ web_server_content }}
    </p>
</body>

</html>